<%= form_with(model: status, local: true) do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :name %>  <span class="required"> *  </span> <br/>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :style %> <span class="required"> *  </span> <br/>
      <%= form.text_area :style %>
    </div>

    <div class="field">
      <%= form.label :link_style %> <span class="required"> *  </span> <br/>
      <%= form.text_area :link_style %>
    </div>


    <div class="field">
      <%= form.label :display_order %> <span class="required"> *  </span> <br/>
      <%= form.text_field :display_order %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary btn-small"%>
    </div>
<% end %>
