

  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Job Tracker</h1>

    <div class="actions">
      <%= link_to 'New Job', new_job_path, class: "btn btn-primary btn-small" %>
    </div>

    <!-- <p>Color Key</p> -->
      <% status_selections = [] %>
      <% status_selections << ["All",  jobs_path] %>
      <% @statuses.each do |status| %>
        <% job_count = get_job_count(status) %>
        <% status_selections << ["#{status.name}  (#{job_count.to_s})",  jobs_filtered_path(filter: status.name) ] %>
      <% end %>

    <div class="row-fluid">
      <label>Filter by Status: </label>
      <%= select "jobs_select", "id", status_selections, { include_blank: false } %>
    </div>

    <br/>
    <% filter_link = params[:filter].blank? ? '' : '?filter=' + params[:filter]%>

    <p> Showing results for:  <b><%= @selected_status %></b>  </p>
    <% if @jobs.blank? %>
        <p>No Matching Jobs! </p>
    <% else %>
        <div class="jobs-table">
          <table class="table">
            <thead>
            <tr>
              <th><%= link_to "Company", '/jobs_all/company' + filter_link %></th>
              <th><%= link_to "Recruiter", '/jobs_all/recruiter'  + filter_link%></th>
              <th><%= link_to "Last contact", '/jobs_all/last_contact'  + filter_link%></th>
              <th><%= link_to "Status", '/jobs_all/status'  + filter_link%></th>
              <th colspan="3" style="text-align: center;">Actions</th>
            </tr>
            </thead>

            <tbody>
            <% @jobs.each do |job| %>
                <tr>
                  <td><%= job.company %></td>
                  <td><%= job.recruiter[0..20] unless job.recruiter.blank? %></td>
                  <td class="last-contact"><%= job.last_contact.strftime("%m-%d-%Y") unless job.last_contact.blank? %></td>
                  <td><%= job.status.name %></td>
                  <td><%= link_to 'Show', job, class: "btn btn-primary btn-small" %></td>
                  <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-primary btn-small" %></td>
                  <td><%= link_to 'Destroy', job, class: "btn btn-primary btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>
    <br>
    <div class="actions">
      <%= link_to 'New Job', new_job_path, class: "btn btn-primary btn-small" %>
    </div>
  </div>
  <script>
      $('#jobs_select_id').bind('change', function() { window.location.pathname = $(this).val() });
  </script>