<p id="notice"><%= notice %></p>

<h1> Job </h1>

<div class="col-md-12" style="margin-bottom: 20px;">
  <table>
    <tr>
      <th>Company</th> <td><%= @job.company %></td>
    </tr>
    <tr>
      <th>Recruiter</th><td><%= @job.recruiter %></td>
    </tr>
    <tr>
      <th>Email</th> <td><%= @job.recruiter_email %></td>
    </tr>
    <tr>
      <th>Last Contact</th> <td><%= @job.last_contact.strftime("%m-%d-%Y") unless @job.last_contact.blank? %></td>
    </tr>
    <tr>
      <th>Phone</th><td><%= @job.recruiter_phone %></td>
    </tr>
    <tr>
      <th>Cell</th><td><%= @job.recruiter_cell %></td>
    </tr>
    <tr>
      <th>Website</th> <td><%= @job.company_website %></td>
    </tr>
    <tr>
      <th>Address</th><td><%= @job.company_address %></td>
    </tr>
    <tr>
      <th>Contact</th><td><%= @job.company_contact %></td>
    </tr>
    <tr>
      <th>Phone</th> <td><%= @job.company_phone %></td>
    </tr>
    <tr>
      <th>Position</th><td><%= @job.position %></td>
    </tr>
    <tr>
      <th>Status</th><td> <%= Status.find(@job.status.id).name %></td>
    </tr>
    <tr>
      <th>Comments</th> <td><%= @job.comments.html_safe unless @job.comments.blank? %></td>
    </tr>
    </tr>
  </table>
</div>




<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-primary btn-small" %> |
<%= link_to 'Back', jobs_path, class: "btn btn-primary btn-small" %>